.body {
  background-color: whitesmoke;
  font-family:'Trebuchet MS', sans-serif
}

.hidden {
    display: none;
}

.container {
    background-color: lightcoral;
}

#content {
    background-color:  whitesmoke;
}

#header {
    height: 10vh;
    color: whitesmoke;
    font-size: 5vh;
    display: flex;
    gap: 2vw;
    background-color: rgb(135, 206, 250);
    font-family: 'Trebuchet MS';
}

#header > div {
    display: flex;
    align-items: center;
}

 #pencil {
    /* height: 5vh;
    width: auto; */
    margin:8px;
}

#sidebar {
    background-color: rgb(188, 220, 240);
    font-family: 'Trebuchet MS';
}

#taskDisplay {
    background-color:  whitesmoke;
    font-family: 'Trebuchet MS';
}

#taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:  whitesmoke;
}

#taskContainer > div {
    padding :10px
}

#bar {
    margin: 8px
}

#bar:hover {
    background-color: rgb(135, 206, 250);
}

#taskDisplay {
    min-height: 100vh;
    min-width: 80vw;
}

#inputContainer.hidden {
    display: none;
}

#inputContainer {
    display: flex;
    flex-direction: row;
}

/* .highlight {
    background-color: blueviolet;
} */

.projectModal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    vertical-align: middle;
    background-color:ivory;
    background-color:rgb(255, 255, 240, 0.8);
    font-family:'Trebuchet MS', sans-serif
}

#modalBox{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
    border: solid black;
    border-radius: 24px;
    text-align: center;
}
  

 #modalInputContainer{
     margin-top: 20px;
 }
 #modalInputContainer > input {
border: solid grey;
border-radius: 5px;
 }

.sidebarSelect{
    background-color: cornsilk;
}

#card {

}