.body {
  background-color: whitesmoke;
  font-family:'Trebuchet MS', sans-serif
}

input,
textarea,
select,
button {
    border: solid #dbdbdb;
    border-radius:5px;
    font-family: 'Trebuchet MS', sans-serif;
    height: 24px
}

.hidden {
    display: none;
}

.container {
    background-color: lightcoral;
}

#content {
    background-color:  whitesmoke;
}

#header {
    height: 10vh;
    color: whitesmoke;
    font-size: 5vh;
    display: flex;
    gap: 2vw;
    background-color: rgb(135, 206, 250);
    font-family: 'Trebuchet MS';
}

#header > div {
    display: flex;
    align-items: center;
}

 #pencil {
    /* height: 5vh;
    width: auto; */
    margin:8px;
}

#sidebar {
    background-color: rgb(188, 220, 240);
    font-family: 'Trebuchet MS';
    width: 100%
}

#taskDisplay {
    background-color:  whitesmoke;
    font-family: 'Trebuchet MS';
}

#taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  whitesmoke;
}

#taskContainer > div {
    padding :10px
}

#bar {
    margin: 8px
}

#bar:hover,
#card:hover {
    /* background-color: rgb(135, 206, 250); */

    transition: transform 125ms;
    transform: translateX(5px);

}


#taskDisplay {
    min-height: 100vh;
    min-width: 80vw;
}

#inputContainer.hidden {
    display: none;
}

#inputContainer {
    display: grid;
    /* grid-template-rows: 500px,30px,60px,30px,30px,60px,60px; */
    grid-template-columns: repeat(2, 150px);
    column-gap: 20px;
    row-gap: 8px;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
    /* border: solid rgb(192, 192, 192); */
    border-radius: 24px;
    box-shadow: 5px 10px 40px rgb(0 0 0 / 50%);
    text-align: center;
}

#inputContainer > label {
    text-align: right;
    padding-right: 5px;
}

#inputContainer > button {
    height:32px
}
.taskHeader {
    grid-column: 1/3;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

/* .highlight {
    background-color: blueviolet;
} */

.projectModal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    vertical-align: middle;
    background-color:ivory;
    background-color:rgb(255, 255, 240, 0.8);
    font-family:'Trebuchet MS', sans-serif
}

#modalBox{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
    /* border: solid rgb(192, 192, 192); */
    border-radius: 24px;
    box-shadow: 5px 10px 40px rgb(0 0 0 / 50%);
    text-align: center;
}
  

 #modalInputContainer{
     margin-top: 20px;
     display: grid;
     grid-template: 30px 30px/50% 50%;
     row-gap: 10px;
     column-gap: 10px;
 }
 #modalInputContainer > input {
border: solid #dbdbdb;
border-radius: 5px;
}

#modalInputContainer > button {
    border: solid #dbdbdb;
    border-radius:5px
}

#projectTitle {
    grid-column: 1/3;
}


.sidebarSelect{
    background-color: cornsilk;
}

#taskDisplay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    margin: 30px 0px 0px 30px;
}

#card {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    height:50px;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-bottom: solid rgb(188, 220, 240);
    /* background-color: #cad3d83b;
    box-shadow: 5px 10px 40px rgb(0 0 0 / 50%); */

}

#edits {
    display: flex;
    gap: 50px
}

.checked {
    text-decoration:line-through;
}

.high {
    border-left: solid red 5px;
}

.med {
    border-left: solid orange 5px;
}

.low {
    border-left: solid green 5px;
}